table {
  border-collapse: collapse;
  width: 15%;
  text-align: center;
  table-layout: auto;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
td {
}
.rotate {
  transform: rotate(180deg);
  transition-duration: .5s;
}

/* .td-2 {
  transform: rotate(0deg);
  transition-duration: .5s;
} */
